
/* Google Fonts */

.raleway-normal {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  /* font-weight: <weight>; */
  font-style: normal;
}

.inter-normal {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  /* font-weight: <weight>; */
  font-style: normal;
}


/* nav styles */
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0px 150px;
}
.nav-title{
font-size: 34px;
font-weight: 800;
color: #4E47FF;
}
nav ul li{
    list-style: none;
    /* margin-right:51px ; */
}
nav ul li a{
    text-decoration: none;
    /* font-size: 20px; */
}
.btn-primary{
    background-color: #4E47FF;
    border: none;
    border-radius: 10px;
    color: white;
    padding: 12px 36px;
    font-size: 16px;
    font-weight: bold;
}
.btn-primary:hover{
    background-color: darkorange;
}
/* Banner */
.img-banner{
    background-image: url(../Assets/Hero-bg.png);
}
.cont-title{
    /* border: 2px solid rebeccapurple; */
    margin: 158px 267.5px 152px;
    
}
.container{
    display:flex;
    justify-content: center;
    
}
.container-title{
    font-size: 65px;
    font-weight: bold;
    color: #252432;
    text-align: center;
}
.button-2nd{
    display: block;
    margin: auto;
}
div a{
    text-decoration: none;
}