*{
    margin: 0px;
    padding: 0px;
}
/* Google Fonts */

.raleway-normal {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  /* font-weight: <weight>; */
  font-style: normal;
}

.inter-normal {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  /* font-weight: <weight>; */
  font-style: normal;
}
/* body */
body{
    max-width: 1440;
   background-color: #F5F8FF;
  
}

/* nav styles */
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0px 150px;
    padding: 50px 0px;
}
.nav-title{
font-size: 34px;
font-weight: 800;
color: #4E47FF;
}
nav ul li{
    list-style: none;
    /* margin-right:51px ; */
}
nav ul li a{
    text-decoration: none;
    /* font-size: 20px; */
}
.btn-primary{
    background-color: #4E47FF;
    border: none;
    border-radius: 10px;
    color: white;
    padding: 12px 36px;
    font-size: 16px;
    font-weight: bold;
}
.btn-primary:hover{
    background-color: darkorange;
}
/* Banner */
.img-banner{
    background-image: url(../Assets/Hero-bg.png);
    max-width: 1440px;
}
.cont-title{
    /* border: 2px solid rebeccapurple; */
    margin: 158px 267.5px 152px;
    
}
.container{
    display:flex;
    justify-content: space-between;
}
.container-title{
    font-size: 65px;
    font-weight: bold;
    color: #252432;
    text-align: center;
    margin-bottom: 37px;
}
.button-2nd{
    display: block;
    margin: auto;
}
div a{
    text-decoration: none;
}
/* action Section CSS File */
.see-action{
display: flex;
align-items: center;
justify-content: space-between;
margin: 116px 150px;
width: 1140px;

}
.see-action-title{
font-size: 42px;
font-weight: bold;
color: #252432;
}
.see-action-para{
    font-size: 24px;
    color: #252432;
    opacity: 50%;
    width: 517px;
    height: auto;
    padding: 23px 0px;

}
.see-action-sec{
    width: 517px;
    height: 203px;
}
.see-action-active img{
    width:403px;
    height: 328px;
    /* box-sizing: border-box; */
    /* border: 2px solid red; */
    border-image: round;
    border-radius: 48px;

    }
    /* productive_Section */
    .pro_title{
    font-size: 38px;
    font-weight: bold;
    color: #252432;
    text-align: center;
    width: 856px;
    padding: 50px 142px;
}
.productive_user{
    width: 1140px;
    height: 306px;
    margin: 0px 150px;
    border-radius: 48px;
    /* border: 1px solid red; */
  background-color: #E5E7FF;
   
}
.pro_head{
    font-size: 80px;
    font-weight: bold;
    color: #4E47FF;
    text-align: center;
   
}
.pro_para{
    font-size: 20px;
    color: #000000;
    opacity: 50%;
}
.pro_subsection{
    text-align: center;
}
.pro_section{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 142px;
}
/* Start review section */
.review-section{
    width: 1140px;
    margin: 0px 150px;
    /* border: 2px solid red; */
}
.review-card{
    width: 366px;
    /* height: 243px; */
    gap: 24px;
    /* border: 1px solid blue; */
    background-color: white;
    border-radius: 14px;
    padding: 24px;

}
.review-title{
    font-size: 42px;
    font-weight: bold;
    color:#252432;
    text-align: center;
    margin: 137px 150px 50px;
    
}
.avatar{
    display: flex;
    align-items: center;
      
}
.avatar img{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 12px;
    /* padding: 0px 24px 24px 0px; */
}
.review-subtitle{
    margin:24px 0px;
}
/* .review-icon{ 
    margin:24px;
}  */
.review-head{
    color:#1E1E1E;
    font-size: 25px;
}
.review-para{
    margin: 12px 24px 0px 0px; 
    color: #1E1E1E;
   font-size:18px;
   font-weight: 200;

}
.review-name{
    color: #757575;
}
.review-date{
    color:#B3B3B3
}
.review-card-section{
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}
.middle{
    margin:0px 20px;
}
/* start focus section */
.focus-section{
    width: 1140px;
    height: 696.77px;
    margin: 137px 150px;
    background-color: white;
    padding: 20px 0px;
    border-radius: 14px;
    /* border: 2px solid red;  */
    
}
.focus-container-title{
    font-size: 50px;
    font-weight: bold;
    color: #000000;
    text-align: center;
    margin: 71px 312px 0px 312px;
}
.focus-para{
    text-align: center;
    margin: 20px 0px;
}
.focus-button-2nd{
    display: block;
    margin: auto;
   
}
.focus-cont-title img{
    display: flex;
    width: 840px;
    height: 364.77px;
    border-image: round;
    border-radius: 48px;
    margin: auto;
    margin-top: 20px;
}
